{{ define "main" }}
<div class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-5xl font-bold mb-6 text-text-primary-light dark:text-text-primary-dark">{{ .Title }}</h1>

    <div class="flex flex-col gap-8">
        <div class="flex-grow">
            <div class="bg-bg-primary-light dark:bg-bg-secondary-dark p-8 rounded-lg mb-8 border border-border-primary-light dark:border-border-primary-dark">
                <div class="prose prose-invert prose-xl max-w-none">
                    <div>
                        {{ .Content }}
                    </div>
                </div>
            </div>
            
        
        </div>
    </div>
</div>

<style>
    .prose {
        color: #4b5563; /* text-secondary-light */
        font-size: 1.125rem;
    }
    html.dark .prose {
        color: #9ca3af; /* text-secondary-dark */
    }
    .prose p {
        color: #4b5563; /* text-secondary-light */
        margin-bottom: 1.5rem; /* Corresponds to mb-6 */
        line-height: 1.9;
    }
    html.dark .prose p {
        color: #9ca3af; /* text-secondary-dark */
    }
    .prose p + p {
        margin-top: 2rem;
    }

    .animated-link {
        position: relative;
        display: inline-flex;
        align-items: center;
    }
    
    .animated-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -1px;
        left: 0;
        background-color: #0284c7; /* accent-light */
        transition: width 0.3s ease-in-out;
    }
    
    .animated-link:hover::after {
        width: 100%;
    }
    html.dark .animated-link::after {
        background-color: #0ea5e9; /* accent-dark */
    }
</style>
{{ end }} 
